.cp_ipselect {
  width: 90%;
  margin: 2em auto;
}

.cp_ipselect select {
  padding-right: 1em;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  outline: none;
  background: transparent;
  box-shadow: none;
}

.cp_ipselect.cp_sl03 {
  position: relative;
  border-radius: 0.25rem;
  border: 2px solid #da3c41;
  background: #ffffff;
}

.cp_ipselect.cp_sl03::before {
  content: "";
  position: absolute;
  top: 0.8em;
  right: 0.8em;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #da3c41;
  pointer-events: none;
}

.cp_ipselect.cp_sl03 select {
  padding: 0.5rem 2.5rem 0.5rem 0.5rem;
  color: #da3c41;
}


